* {
    font-family: "Roboto", sans-serif;
}

.ahover div:hover{
    /* border-bottom: 2px solid  #66ffff; */
    color: #59f8f8;
    /* border: 1px solid #66ffff; */
    border-radius: 0.5rem;

}

.scale:hover{
    transform: scale(1.05);
    border-radius: 0.5rem;
}

.hs:hover{
    transform: scale(1.2);
}

.hss:hover{
    transform: scale(1.1);
}